/* Medium Layout: 1280px. */
@media only screen and (min-width: 990px) and (max-width: 1200px) {
	h4{
		font-size: 14px;
	}
	p{
		font-size: 10px;
	}
	.header-bg-2{
		height: 700px;
	}
	.header-bg-2 p{
		width: 800px;
	}
	.header-bg-2 img{
		margin-top: 40px;
	}
	.feature-deitails h4{
		font-size: 14px;
	}
	.feature-deitails p{
		font-size: 11px;
	}
	.video{
		background-size: 80%;
		background-position: 50% -120px;
	}
    .spinner {
        margin: 35% auto;
    }
    .hero-img {
        left: 8%;
    }
    .stfpp-title h2::before {
        top: 48%;
        left: 45%;
    }
    .dash-img-1 img {
        left: -160px;
        width: 800px;
        margin-top: 100px;
    }
    .dash-img-2 img {
        width: 400px;
    }
	.dashboard{
		height: 780px;
	}
    .video-area{
        margin-bottom:100px;
    }
    .soft-feature-right h2 {
        font-size: 28px;
    }
    .soft-feature-right h2::before {
        top: 45.5%;
        left: 10%;
    }
    .s-feature-area::after {
        left: 6%;
        height: 218px;
    }
    .screenshot-button .screenshot-btn {
        padding: 4px 12px;
		font-size: 10px;
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.stfpp-overlay{
		height: 86%;
	}
	.navbar-brand img{
		width: 100%;
	}
	.navbar-collapse.collapse{
		margin: 30px 50px 0 0;

	}
	.hero-text h1{
		font-size: 34px!important;
		margin-top: 20px;
		width: 751px;
		margin-left: -15px;
	}
	.hero-text p{
		width: 109%;
		margin-left: -30px;
		font-size: 16px;
	}
	.col-sm-6{
		width: 100%;
	}
	.feature{
		margin-top: -100px;
	}
	.video{
		background-size: 80%;
		background-position: 50% -80px;
	}
	.dashboard{
		margin-top: -30px;
	}
	.screenshot-button .screenshot-btn{
		margin: 0 20px 20px 0;
	}
	.screenshot-button{
		margin: -30px 0 30px 0;
	}
	.dash-img-1 img {
        width: 1100px;
        margin-top: -190px;
		margin-left: -250px;
    }
	.stfpp-title h2{
		font-size: 26px;
	}
	.header-bg-2 img{
		margin-top: 40px;
		margin-left: -40px;
		max-width: 200%!important;
		height: 550px;
	}
	.navbar-brand {
		text-align: center;
		display: block;
		padding: 0;
		float: none;
		margin: auto;
	}
	.navbar-header {
		float: none;
	}
	.navbar-default .navbar-brand img {
		margin: auto;
	}
    .spinner {
        margin: 45% auto;
    }
    .header-bg-1 {
        padding-bottom: 250px;
    }
    .hero-text h1 {
        font-size: 38px;
    }
    .hero-img {
        left: 0%;
    }
    .countdown {
        margin-bottom: 60px;
    }
    .dash-right {
        padding-top: 0px;
        padding-bottom: 260px;
    }
    .dash-img-1 img {
        left: 50px;
        top: 0px;
    }
    .video-text p {
        padding: 0 16%;
        color: #fff;
    }
    .dash-title h2::before {
        left: 9%;
    }
    .stfpp-title h2::before {
        top: 97%;
        left: 44%;
    }
    .video-area{
        margin-bottom:100px;
    }
    .soft-feature-left {
        margin-bottom: 60px;
    }
    .soft-feature-right h2::before {
        top: 53%;
        left: 7%;
    }
    .s-feature-area::after {
        left: 4%;
        height: 115px;
    }
    .screenshot-button .screenshot-btn {
        padding: 10px 20px;
    }
    .pricing-table{
        margin-bottom: 60px;
    }
    .widget-text i {
        top: 0px;
    }
    .footer-text {
        text-align: center;
    }
    .footer-social {
        float: none;
        text-align: center;
        padding-top: 20px;
    }
}
/* Mobile Layout: 360px. */
@media only screen and (max-width: 767px) {
	.navbar-default .navbar-brand img{
		width: 120%;
	}
	.hero-text h1{
		font-size: 28px!important;
		margin-top: -100px;
	}
	.hero-text p{
	width: 80%;
		font-size: 16px;
	}
	.header-bg-2 img{
		margin-top: 80px;
	}
	.stfpp-overlay{
		height: 79%;
	}
	.feature{
		margin-top: -130px;
	}
	.stfpp-title h2::before{
		left: 43.5%;
	}
	.video{
		background-size: 80%;
		background-position: 50% -50px;
	}
	.video-text p{
		margin-top: -40px;
	}
	.video-overlay{
		height: 100%;
	}
	.video-area a i{
		margin-bottom: 30px;
	}
	.col-md-6{
		padding: 0 50px;
	}
	.col-xs-12{
		padding: 0 50px;
	}
	.col-md-10{
		padding: 0 50px;
	}
	.dash-img-1 img {
        width: 1000px;
        margin-top: -190px;
		margin-left: -210px;
    }
	.dash-right{
		margin-bottom: 310px;
	}
	.white-bt{
		margin-left: -2px;
	}
	.get-demo{
		margin-left: -1px;
	}
    .spinner {
        margin: 70% auto;
    }
    header{
        top: 0;
        position: relative;
        background: #2763b0;
    }
    .stfpp-title h2::before {
        top: 98%;
        left: 36%;
    }
    .header-bg-1 {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .hero-text h1 {
        font-size: 20px;
    }
    .hero-img {
        left: 0%;
    }
    .feature-box {
        margin-bottom: 80px;
    }
    .countdown {
        margin-bottom: 80px;
    }
    .dash-title h2 {
        font-size: 28px;
    }
    .dash-title h2::before {
        top: 60px;
        left: 18%;
    }
    .dash-right {
        padding-top: 0px;
        padding-bottom: 160px;
    }
    .dash-img-1 img {
        left: 12px;
        top: 20px;
    }
    .video-text p {
        padding: 0 5%;
    }
    .video-area {
        margin-bottom: 10px;
    }
    .soft-feature-left {
        margin-bottom: 80px;
    }
    .soft-feature-right h2 {
        font-size: 21px;
    }
    .soft-feature-right h2::before {
        top: 31.9%;
        left: 15%;
    }
    .s-feature-area::after {
        left: 8%;
        height: 272px;
    }
    .trial-text p {
        padding: 0 5%;
    }
    .screenshot-button .screenshot-btn {
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    .grid-item{
        padding-bottom: 40px;
    }
    .pricing-table{
        margin-bottom: 80px;
    }
    .widget-text {
        margin-bottom: 50px;
    }
    .footer-text {
        text-align: center;
    }
    .footer-social {
        float: none;
        text-align: center;
        padding-top: 20px;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.header-bg-2 img{
		margin-top: 170px;
	}
	.header-bg-2{
		background-position: 45% 13%;
		background-size: 90% 32%;
	}
	.stfpp-overlay{
		 height: 65%;
	}
	.feature{
		margin-top: -250px;
	}
    .stfpp-title h2 {
        font-size: 28px;
    }
    .header-bg-1 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .stfpp-title h2::before {
        left: 40%;
    }
	.dash-title h2::before{
		left: 20.5%;
	}
	.dash-img-1 img {
        left: 12px;
        top: 40px;
    }
    .dash-right {
        padding-top: 0px;
        padding-bottom: 250px;
		margin-bottom: 190px;
    }
    .soft-feature-right h2::before {
        top: 35.9%;
        left: 11%;
    }
    .s-feature-area::after {
        left: 6%;
        height: 220px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 480px) {
	.header-bg-2 img{
		margin-top: 160px;
	}
	.header-bg-2{
		background-position: 45% 13%;
		background-size: 90% 32%;
	}
	.stfpp-overlay{
		 height: 60%;
	}
	.dash-img-1 img {
        left: 20px;
        top: 40px;
    }
    .dash-right {
        padding-top: 0px;
        padding-bottom: 250px;
		margin-bottom: 190px;
    }
	.feature{
		margin-top: -290px;
	}
}